/* body {
    color: white;
    background-color: black;
} */
* {
    margin: 0;
}
.headNav {
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-between;
}
.leftMenu {
    display: flex;
    padding: 10px;
    gap: 5px;
    align-items: center;
}
.rightMenu {
    display: flex;
    padding: 10px;
    gap: 5px;
    align-items: center;
}
.sideMenu {
    display: flex;
    flex-direction: column;
    /* border: 2px red solid; */
    width: max(100px, 15%);
    align-items: left;
    padding: 20px;    
}
.defaultSideBar {
    list-style: none;
}
.defaultSideBar > li {
    padding-bottom: 10px;
}